# Environment
.DS_Store
__pycache__/
wandb/
lightning_logs/
.ipynb_checkpoints/

# Folders
3d-computer-vision/*
ALTEGRAD/Labs/*
ALTEGRAD/graph-challenge/data.nosync/*
ALTEGRAD/graph-challenge/logs.nosync/*
ALTEGRAD/graph-challenge/altegrad
computational-statistics/*
RL/*
object-recognition/A3/code/bird_dataset/*
object-recognition/A3/code/experiments/*
object-recognition/A3/code/pretrained_weights/*
object-recognition/project/*
geometric-data-analysis/*
generative-models/*
deep-rl/
temporal-series/
dl-in-practice/tp-1/USPS/
dl-in-practice/tp-1/dl-practice-tp1/
